:root {
    --color-primary: #04aa6d;
    --color-secondary: #fff4a3;
    --color-ternary: #ffc0c7;
    --color-light: #d9eee1;
    --color-dark: #38444d;
    --color-darker: #15202b;
    --color-darkest: #0d1721;
}

* {
    font-family: sans-serif;
    font-weight: bold;
}

body {
    margin: 0;
    transition: background-color 0.2s;
}

#contents {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    box-sizing: border-box;
    width: 100%;
    height: 20em;
    padding: 2em;
    background-color: var(--color-dark);
}


footer a {
    margin-bottom: 0.5em;
    color: white;
    text-decoration: none;
}

#footer-title {
    margin: 0 0 1em;
    color: white;
}

.row-centered {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.column-centered {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#author {
    color: var(--color-light);
    margin-top: 2em;
    text-align: center;
}

#color-theme {
    position: absolute;
    left: 2em;
    top: 2em;
    width: 3em;
    height: 3em;
    cursor: pointer;
}

#calculator-body {
    background-color: var(--color-dark);
    padding: 1em;
    border-radius: 1em;
}

/* опишем базовый стиль кнопки калькулятора */
.my-btn {
    margin-right: 5px;
    /* задаем отступ от кнопки справа */
    margin-top: 5px;
    /* задаем отступ от кнопки сверху*/
    width: 50px;
    /* задаем ширину кнопки */
    height: 50px;
    /* задаем высоту кнопки */
    border-radius: 0.2em;
    /* округляем кнопку */
    border: none;
    /* отключаем обводку */
    background: var(--color-ternary);
    /* задаем серый цвет кнопки */
    color: white;
    /* задаем белый цвет текста внутри кнопки */
    font-size: 1.5rem;
    /* увеличим размер шрифта */
    font-family: Arial, Helvetica, sans-serif;
    /* сменим шрифт */
    cursor: pointer;
    /* при наведении на кнопку курсор будет изменен
                                    со стрелки на 'указательный палец' */
    user-select: none;
    /* отключаем возможность выделить текст внутри кнопки */
    transition: filter 0.2s;
}

/* hover - это состояние элемента, когда на него наведен курсор */
.my-btn:hover {
    filter: brightness(90%);
}

/* active - это состояние активации элемента. В случае кнопки - нажатие на нее */
.my-btn:active {
    filter: brightness(80%);
}

/* селектор для кнопок первостепенных операций */
.my-btn.primary {
    background: var(--color-primary);
}

/* селектор для кнопок второстепенных операций */
.my-btn.secondary {
    background: var(--color-secondary);
    color: var(--color-darker);
}

/* селектор для кнопки расчета выражения (=) */
.my-btn.execute {
    width: 110px;
    /* сделаем кнопку шире других */
    border-radius: 0.2em;
    /* подкорректируем округлость */
}

/* селектор для поля вывода результата */
#result {
    width: 280px;
    height: 70px;
    border-radius: 0.2em;
    margin-bottom: 15px;
    /* отступ снизу */
    padding-right: 10px;
    /* выступ справа */
    padding-top: 10px;
    background: var(--color-darker);
    /* цвет можно задавать и таким образом */
    text-align: right;
    /* примагнитим текст к правой стороне */
    color: var(--color-secondary);
    /* цвет текста белый */
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}